# Ignorar cualquier carpeta llamada 'data'
data/
# Ignorar el virtual enviroment
.venv/

# Ignorar pycache
__pycache__/

# Ignorar todos los archivos .txt
*.txt
# Excluir top 100 passwords
!top100.txt
# Excluir 'stats.txt'
!stats.txt
# Excluir leaks.txt
!leaks.txt
# Excluir requirements
!requirements.txt
# Excluir score
!password_score.txt
# Excluir score por tamaño
!password_score_and_length.txt
# Excluir entropía de shannon
!shannon_entropy.txt
# Excluir tipos de leaks
!leak_types.txt
# Excluir los txt de cluster evaluation
!*cluster_evaluation.txt

# Ignorar todos los archivos de Excel
*.xlsx
# No ignorar el excel de services
!/services/services.xlsx

# Ignorar archivos source
source

# Ignorar archivos ZIP
*.zip

# Ignorar archivos CSV
*.csv
# Incluir matriz kl de scores
!kl_df_score.csv
# Incluir datos de servicios
!servicestypesum.csv

# Ignorar scripts de prueba
tests.py

# Asegúrate de que no se ignore el archivo .gitignore en sí
!.gitignore
