# Ignorar los datos personales de la brecha y las estadísticas procesadas
# Ignorar la carpeta 'data' y todo su contenido
data/

# Ignorar archivos específicos
source.txt
statsexcel.xlsx
linkedin.txt_Pieces.zip
datos_extraidos.csv
